GROQ_API_KEY=

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=
DATABASE_URL=postgresql://postgres:[password]@db.[project-ref].supabase.co:5432/postgres

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
